* {
    border: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(194, 215, 228);
    font-family: "Playpen Sans", Calibri, sans-serif;
    color: rgb(16, 21, 35);
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.sticky-note {
    width: 350px;
    height: 300px;
    background-color: yellow;
    display: flex;
    margin: 50px;
    box-shadow: -10px 10px;
}

header h1 {
    text-align: center;
    padding: 10px;
    font-size: 40px;
}

article {
    width: 400px;
    border-radius: 5px;
    margin: 10px;
    text-align: left;
}

article h2 {
    color: black;
    padding: 4px 8px;
}

ul {
    list-style-type: none;
}

ul li {
    padding: 6px 8px;
    color: black;
}
