* {
    border: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(194, 215, 228);
    font-family: "Playpen Sans", Calibri, sans-serif;
    color: black;
}

#whiteboard {
    margin: auto;
    position: relative;
    border: 20px solid rgb(176, 178, 206);
    width: 1300px;
    height: 550px;
    display: flex;
    background-color: rgb(135, 99, 99);
    
}

#pin-1 {
    padding: 0;
    margin: 0;
    max-width: 70px;
    left: 240px;
    bottom: 220px;
    z-index: 1;
    position: relative;
}

#pin-2 {
    padding: 0;
    margin: 0;
    max-width: 70px;
    bottom: 140px;
    left: 250px;
    z-index: 1;
    position: relative;
}

#pin-3 {
    padding: 0;
    margin: 0;
    max-width: 70px;
    left: 240px;
    bottom: 220px;
    z-index: 1;
    position: relative;
}

.sticky-note-1 {
    width: 350px;
    height: 300px;
    background-color: yellow;
    display: flex;
    margin-top: 70px;
    box-shadow: -10px 10px;
}

.sticky-note-2 {
    width: 350px;
    height: 300px;
    background-color: rgb(255, 83, 160);
    display: flex;
    margin-top: 150px;
    box-shadow: -10px 10px;
}

.sticky-note-3 {
    width: 350px;
    height: 300px;
    background-color: rgb(120, 149, 255);
    display: flex;
    margin-top: 70px;
    box-shadow: -10px 10px;
}

header h1 {
    text-align: center;
    padding: 40px;
    font-size: 40px;
}

article {
    width: 400px;
    border-radius: 5px;
    margin: 10px;
    text-align: left;
}

article h2 {
    color: black;
    padding: 12px 8px 4px 8px;
}

ul {
    list-style-type: none;
}

ul li {
    padding: 6px 8px;
    color: black;
}
